* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: Arial, sans-serif; 
    background: linear-gradient(
        to bottom, 
        #587ae9, 
        #b0beee 
    ); 
    color: #040404; 
}

.header {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url(imagenes/imagen-menu.jpg); 
    background-position: center bottom; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px; 
    width: 100%; 
}


.menu-logo {
    width: 130px; 
    height: auto; 
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.botones ul {
    padding: 0; 
}

.botones ul li {
    margin-bottom: 10px; 
}

.botones ul li a {
    display: block; 
    width: 200px;
    padding: 10px; 
    background-color: #110d0d; 
    border: 1px solid #000; 
    border-radius: 5px; 
    text-align: center; 
    color: #fff; 
    text-decoration: none; 
}

.botones ul li a:hover {
    background-color: #5e5b5b; 
    border-color: #d50909; 
}


.bienvenida {
        font-size: 2.5rem; 
        font-weight: bold; 
        text-align: center; 
        color: #051044; 
        margin-bottom: 20px; 
}

.instituto{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 200vw; 
    height: 100vh; 

}

.quienes{
    font-size: 2.5rem;
    font-weight: bold; 
    color: #051044;
    margin-bottom: 20px;
}

.parrafo1{
        font-size: 1.2rem; 
        font-weight: 400; 
        color: #333; 
        line-height: 1.6; 
        margin: 20px 0; 
        padding: 10px; 
        background-color: #7acff7; 
        border-left: 4px solid #010d35; 
        border-radius: 5px; 
        text-align: justify; 
}

.desarrollo {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #051044; 
    margin-bottom: 20px; 
}


.contenedor {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px; 
}


.imagen-boton {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.parrafo2 {
    font-size: 1.2rem; 
    font-weight: 400; 
    color: #333; 
    line-height: 1.6; 
    max-width: 30%; 
    padding: 10px;
    background-color: #7acff7; 
    border-left: 4px solid #010d35; 
    border-radius: 5px; 
    text-align: justify; 
}

.desarrolloimagen {
    width: 300px; 
    height: auto; 
}

.boton-1 {
    display: block;
    margin-top: 10px; 
    padding: 10px 20px;
    background-color: #110d0d; 
    border: 1px solid #000; 
    border-radius: 5px;
    color: #fff; 
    text-decoration: none; 
    text-align: center;
}

.boton-1:hover {
    background-color: #5e5b5b;
    border-color: #d50909; 
}

.titulo-vision {
    font-size: 2.5rem; 
    font-weight: bold; 
    text-align: center;
    color: #051044; 
    margin-bottom: 20px; 
}

.contenido-vision {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
}

.mision,
.vision {
    flex: 1; 
    max-width: 48%; 
    box-sizing: border-box; 
}

.mision h2,
.vision h2 {
    margin-bottom: 10px; 
}

.parrafo-mision,
.parrafo-vision {
    font-size: 1rem; 
    line-height: 1.6; 
    background-color: #7acff7; 
    max-width: 80%; 
}


.header-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content img {
    max-width: 100%; 
    height: auto; 
}

.boton-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #110d0d; /* Color de fondo */
    border: 1px solid #000; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    margin-top: 10px; /* Espacio superior */
}

.boton-1:hover {
    background-color: #5e5b5b; 
    border-color: #d50909; 
}

.organigrama {
    display: inline-block;
    padding: 10px 20px;
    background-color: #110d0d;
    border: 1px solid #000; 
    border-radius: 5px; 
    color: #fff; 
    text-decoration: none; 
    margin-top: 10px; 
}

.organigrama:hover {
    background-color: #5e5b5b; 
    border-color: #d50909; 
}


.pie-pagina {
    background-color: #160336;
    color: white;
    padding: 20px; 
    text-align: left; 
    width: 100%; 
    margin-top: 20px; 
}

.pie-pagina a {
    color: #f4f4f4; 
}

.pie-pagina a:hover {
    text-decoration: underline; 
}
